# Do not commit a real secret key. Use a locally managed Stellar CLI identity.
STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
STELLAR_SOURCE_ACCOUNT=pactos-deployer
PACTOS_ADMIN_ADDRESS=GDJIXGE27JVFU6QX2I2G52E6BYN44K7LAPJIHSVMJV2OGU6XMDYBPBTP
PACTOS_REGISTRY_CONTRACT_ID=CCH2PHPRG2E5TQZEBTCSKXALOHME75LEYTKB5GUTDA3TO22TQZ5QSLZD
PACTOS_RUNTIME_CONTRACT_ID=CDF2BKUBBVWIEFG22EM537GKDDDL2IIVVJ3UXDIJT2YUUHJBZFID6TNF
PACTOS_DISTRIBUTION_CONTRACT_ID=CCOAGQMRVTQIW3Q33EMEOM7F2MEYUKKZ52YDWJE7IV6ATHUPXGCNGQI4
PACTOS_ESCROW_CONTRACT_ID=CBDKPKPGHP5AYFSZP7D3A5366IJKPT2XL26H7QROGLGP6TPNVVDK6RDQ
PACTOS_PERMISSION_CONTRACT_ID=CAFTFBEQQS2BESE64546QCZHY2NANXDTPTXACHWL5GM5DFXXVWLVANZN
PACTOS_TREASURY_CONTRACT_ID=CDYZGCP3SENRCJ2Q2XX5EBHGXGP7KSS2JQI446TBMZ45XKB7E3QBNORB
PACTOS_AUDIT_CONTRACT_ID=CB5BY65ZU4L2Z4J3XRWNDS5BGUODVOYT2EPVCTNDIQXCMBS2C4I22QM4
